.app-footer {
    flex-direction: row;
    height: 80px;
    border-top: 1px solid #e4e5e7;
    .content-container{
        @media screen and (max-width: 600px) {
            flex-direction: column;
            >*{
                margin: 10px 10px;
                >*{
                    margin-inline-end: 10px;
                }
            }
            }
        
    }
    .logo,
    .copy-rights {
        margin-right: 30px;


    }

    .logo {
        font-family: Macan;
        font-size: 1.7rem;
        color: $clr5;


        &::after {
            content: '®';
            font-size: 0.6rem;
            color: var(--yro5247);

        }
    }

    .copy-rights {
        font-family: Macan-Regular;
        color: var(--yro5247);
        font-size: em(14px);

    }




    .social-links {
        flex:1;
        display:flex;
        justify-content: space-between;
        max-width: 450px;
        // flex-basis: 20%;
        >*{
            flex: 1;
        }
        a {
            
            width: 100%;
            // margin-inline-start: 32px;
            cursor: pointer;
        }
    }
}