.app-home{
    background-color:rgb(192, 252, 255) ;



    .hero{
        background-color:antiquewhite;
        height: 680px;
        width: 100%;
        margin-bottom: 170px;
    }

    .video-section{
        
        justify-content: center;
        background-color: grey;
        height:690px;
        padding: 100px 100px;

    }
}