.app-header {
  height: $headingHeight;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  background-color: #fff;
  border-bottom: 1px solid #e4e5e7;
  transition: background-color 0.5s ease;
  transition: border 0.5s ease;

  nav > * {
    color: #62646a;
  }

  .el-button.is-text {
    color: #62646a;
    padding: 0 10px;
    margin-right: 15px;
    margin: 0px;
    font-size: 1rem;
    font-weight: 700;

    &:hover {
      background-color: inherit;
    }
  }

  a {
    text-decoration: none;
    transition: 0.3s;
  }

  .logo {
    flex-basis: 30%;
    margin: 4px 0 0;
    min-width: 121px;
    transition: color 0.2s;

    > * {
      display: inline;
      padding: none;
      text-decoration: none;
    }
  }

  .search {
    flex-basis: 65%;
    margin: 0px 10px;
    opacity: 0;
    width: 100%;
    transition: opacity 0.25s ease;

    &.shown {
      opacity: 1;
      transition: opacity 0.25s ease;
    }
  }

  .nav-links {
    flex-basis: 10%;

    > * {
      color: #62646a;

      &:hover {
        color: $clr1;
      }
    }

    & > :first-child {
      margin-inline-end: 10px;
    }
  }

  
  // HEADER TRANSPARENT
  &.transparent {
    background-color: transparent;
    border-bottom: none;
    transition: background-color 0.5s ease;

    nav > * {
      color: #fff;
    }

    .el-button.is-text {
      color: white;
    }

    .nav-links {
      > * {
        color: white;
      }
    }
  }
}



.el-button {
  padding: 0 10px;
}

.el-button.is-text {
  margin-right: 15px;
  color: #fff;
  margin: 0px;
  font-size: 1rem;
  font-weight: 700;

  transition: 0.3s;

  &.join-btn {
    padding: 7px 20px;
    font-weight: 700;
    font-size: rem(14px);

    &:hover {
      background: $clr1;
    }
  }

  &.signin-btn {
    margin-inline-end: 10px;
    &:hover {
      background: none;
      color: $clr1;
    }
  }
}

// .join-btn {
//   border: 1px solid white;
//   &:hover {
//     background: $CLR03;
//     color: white;
//     border: 1px solid $clr1;

//   }
// }

// .el-select {
//   width: 300px;
// }
// .el-input {
//   width: 300px;
// }
// .dialog-footer button:first-child {
//   margin-right: 10px;
// }
// }
