.app-home{
    color: $clr11;
    line-height: 26px;
    width: 100%;


    .trusted-by{
  background-color: #fafafa;
        padding: 0px 90px;
        width: 100%;
        margin-bottom: 96px;
        height:96px;
      
    }

    .logos >*{
        font-weight:600;
        color: $clr2;
        font-size:1em;
        padding-inline-end: 60px;
    }




    .video-section{
        
        background-color: $CLR01;
        min-height:690px;
        padding: 96px 0px;
    
        &>*{
            flex-basis:50%;
        }

      

    

    .site-info{


        .side-text{
        
            // padding-inline-end: 150px;
            h1{
            padding-bottom: 24px;
            }

            ul{
                line-height: 26px;
                list-style: none; 
            
                li{
                    padding-bottom: 30px;

                    h3{
                    display: inline;
                    }
                    span{
                        padding-inline-end: 10px;
                    }
                }
            }
    }

    .vid-container{
        min-width:100%;
        
    }
}

}

}