.app-footer{
    height: 80px;
    border-top: 1px solid $clr2;

    .logo{
        margin-right: 30px;
    }

    .social-links{
        flex-basis: 20%;

        a{
            width:100%;

        }
    }
}