


.app-header{
    height: $headingHeight;
    width: 100%;

  z-index:10;
    // position: fixed;
    // z-index: 10;


    &.closed{
        background:none;
        
        a,.logo,.el-button.is-text {
            color:white;
        }
        
    }

  

    a{
        text-decoration: none;
        color:black;
        transition: 0.3s;
    }

   .home{
    flex-basis: 30%;
    >*{   
        display: inline;
        padding: none;
        text-decoration: none;
    }
   }


   .search{
    flex-basis: 65%;
    margin: 0px 10px;    
   }
   
   .nav-links{
    flex-basis: 10%;
   
    a:hover{
        color: $clr1;
    }
    }
   
}

