.app-header {
  height: $headingHeight;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  background-color: #fff;
  border-bottom: 1px solid #e4e5e7;
  transition: background-color 0.5s ease;
  transition: border 0.5s ease;
  
  nav > * {
    color: #62646a;
  }

  .el-button.is-text {
    color: #62646a;
    padding: 0 10px;
    margin-right: 15px;
    margin: 0px;
    font-size: 1rem;
    font-weight: 700;

    &:hover {
      background-color: inherit;
    }
  }

  a {
    text-decoration: none;
    transition: 0.3s;
  }

  .logo {
    // flex-basis: 30%;
    margin: 4px 0 0;
    min-width: 121px;
    margin-inline-end: 32px;
    transition: color 0.2s;

    > * {
      display: inline;
      padding: none;
      text-decoration: none;
    }
  }

  .search {
    // flex-basis: 65%;
    // margin: 0px 10px;
    opacity: 0;
    width: 100%;
    transition: opacity 0.25s ease;
    flex: 1;

    &.shown {
      opacity: 1;
      transition: opacity 0.25s ease;
    }
  }

  .nav-links {
    // flex-basis: 10%;
    margin-inline-start: 32px;

    > * {
      color: #62646a;
      padding: 0 10px;

      &:hover {
        color: $clr1;
      }
    }

    .signin-btn {
      font-size: 1rem;
      background-color: inherit;
      border: none;
      font-weight: 600;
      transition: color 0.2s;
      cursor: pointer;
    }

    .join-btn {
      padding: 7px 20px;
      font-weight: 700;
      font-size: rem(14px);
      background-color: inherit;
      transition: all 0.2s ease;
      border: 1px solid $clr1;
      border-radius: 4px;
      color: $clr1;
      margin-inline-start: 10px;
      cursor: pointer;

      &:hover {
        background: $clr1;
        color: #fff;
      }
    }

    // .user-img {
    //   border-radius: 50%;
    //   max-height: 32px;
    //   max-width: 32px;

    //   img {
    //     height: 100%;
    //     width: 100px;
    //     object-fit: cover;
    //   }
    // }
  }

  // HEADER TRANSPARENT
  &.transparent {
    background-color: transparent;
    border-bottom: none;
    transition: background-color 0.5s ease;

    nav > * {
      color: #fff;
    }

    .el-button.is-text {
      color: white;
    }

    .nav-links {
      > * {
        color: white;
      }

      .join-btn {
        border: 1px solid #fff;
        color: #fff;

        &:hover {
          border: 1px solid $clr1;
          background: $clr1;
          color: #fff;
        }
      }
    }
  }
  .user-modal{
    position: fixed;
    color: black;
    z-index: 100;
    background-color: aqua;
    height: 300px;
    width:180px;
    padding:5px 15px;
    right:0px;
    transform:translate(-50% , 5%);
    border-radius:8px 0 8px 8px;
    box-shadow: 0 0 0 0;


  }
}
