.categories-list{
    background-color:rgb(192, 255, 192) ;
    
    section {
        &.type-txt{
            height:70px;
            align-items: center;
        }
        &.type-card{
            margin-right: 30px;
        }
    
        h1{    
            margin-bottom: 20px;
        }
    }
   
}
