.categories-list {
  width: 100%;

  section {
    &.type-tag {
      opacity: 0;
      transform: rotateX(90deg);

      &.shown {
        opacity: 1;
        transform: rotateX(0deg);
        transition: transform 0.2s, -webkit-transform 0.2s;
        height: 40px;
        align-items: center;
        background-color: #fff;
        transition: transform 0.2s, -webkit-transform 0.2s;
        font-size: 1rem;
        border-bottom: 1px solid #e4e5e7;

        a {
          text-decoration: none;
          padding-block: 8px;
          margin-inline-end: 20px;
          color: #62646a;
          flex-shrink: 0;
          line-height: 24px;
          transition: color 0.2s;
          font-weight: 400;

          &:last-of-type {
            margin-inline-end: 0;
          }

          &:hover {
            box-shadow: 0px -3px 0px 0px $clr1 inset;
            transition: color 0.2s;
          }
        }
      }

      .wide-display {
        display: flex;

        @media screen and (max-width: 1200px) {
          display: none;
        }
      }

      .vuper-display {
        height: 40px;
        display: none;

        @media screen and (max-width: 1200px) {
          display: block;
        }

        .vueperslide__content-wrapper {
          margin-inline-start: -16px;
        }

        .vueperslides__bullets {
          display: none;
        }

        .vueperslides__arrow {
          cursor: pointer;

          svg {
            height: 35px;
            width: 48px;
            padding: 10px;
            z-index: 100;
          }

          &.vueperslides__arrow--prev {
            transform: translate(80%, -50%);
            background: linear-gradient(90deg,#fff 50%,hsla(0,0%,100%,0));          }

          &.vueperslides__arrow--next {
            transform: translate(-80%, -50%);
            background: linear-gradient(270deg,#fff 50%,hsla(0,0%,100%,0));
          }
        }

        a {
          color: #62646a;
        }
      }

      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    &.type-svg {
      display: grid;
      padding-inline-start: 20px;
      padding-inline-end: 20px;
      grid-template-columns: repeat(5, 1fr);
      gap: 55px;

      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(3, 1fr);

      }

      @media screen and (max-width: 570px) {

        grid-template-columns: repeat(2, 1fr);
        padding-inline-start: 0px;
        padding-inline-end: 0px;

        >* {
          text-align: center;
        }
      }

      @media screen and (max-width: 470px) {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

      }

      h4 {
        font-family: Macan-light;
      }

      span {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;




        span::after {
          content: "";
          position: absolute;
          top: 60px;
          right: 50%;
          transform: translateX(50%);
          padding: 0 0 8px;
          width: 48px;
          border-bottom: 2px solid #c5c6c9;
          transition: border-color .2s ease-in-out, width .2s ease-in-out;
        }

        span:hover::after {
          border-color: $clr1;
          width: 90px;
          transition: border-color .2s ease-in-out, width .2s ease-in-out;

        }

        >div {
          width: 100%;
          height: 100%;

          span {
            margin-bottom: 16px;
            height: 60px;
          }

          h4 {
            text-align: center;

          }
        }

        svg {
          width: 60px;

        }
      }
    }

    &.type-card {
      margin-bottom: 90px;

      h1 {
        padding-bottom: 24px;
      }

      .cards {
        gap: 10px;
      }

      .card {
        flex-basis: 20%;
        border-radius: 4px;
        min-width: 300px;

        &:hover {
          cursor: pointer;
        }

        h2 {
          padding: 16px;
          font-size: 1.7rem;

          small {
            font-weight: 100;
            font-size: 1rem;
            display: block;
            padding-bottom: 5px;
          }
        }
      }

      .vueperslides__parallax-wrapper {
        position: relative;
        overflow: hidden;
        padding-bottom: 26% !important;
          @media screen and (min-width: 1100px) {
          padding-bottom: 20% !important;
          
            }
      }

      .vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom) {
        display: flex;
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 14px;
        font-family: Macan-Regular;
        color: $CLR0;
        transition: opacity .3s ease-in-out;
        opacity: 1;

        :nth-child(2) {
          font-size: 23px;
          font-weight: 700;
        }

        text-align: center;
        border-radius: 5px !important;
      }

      .vueperslides__arrow {
        position: absolute;
        font-size: inherit;
        color: inherit;
        text-align: center;
        transform: translateY(-50%);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        outline: none;
        z-index: 2;
        line-height: 1;
        background-color: $CLR0;
        opacity: 1;
        border-radius: 50%;
        color: $CLR00;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);

        svg {
          height: 48px;
          width: 48px;
          stroke-width: 3px;
        }

        &.vueperslides__arrow--prev {
          transform: translate(70%, -50%);
        }

        &.vueperslides__arrow--next {
          transform: translate(-70%, -50%);
        }

        @media screen and (max-width: 500px) {
          &.vueperslides__arrow--prev {
            transform: translate(0%, -50%);
          }

          &.vueperslides__arrow--next {
            transform: translate(0%, -50%);
          }
        }
      }

      .vueperslide[href] {
        border-radius: 4px;
      }

      .vueperslides__bullets {
        display: none;
      }
    }
  }
}