.gig-edit {
    background-color: $CLR05;


    form {
        @include card(772px, 800px);

        background: white;
        padding: 30px;
        margin: 30px auto;


        label {
            display: flex;

            span {
                width: 200px;
                flex-shrink: 0;
                font-weight: 600;
                padding-inline-end: 15px;

                p {
                    margin-top: 10px;
                    font-weight: 400;
                }
            }

            input,
            textarea {
                width: 100%;
                border: 1px solid var(--yro5245);
            }

            textarea {
                height: 64px;
                padding: 10px;
            }



            select {
                height: 34px;
                padding: 12px;
                border: 1px solid var(--yro5245);

            }
        }

        .title {
            input {
                height: 64px;
                width: 100%;
                padding: 9px 16px;
            }
        }

        .description {
            textarea {
                height: 200px;
            }
        }

        .days-to-make select {
            width: 30%;
        }

        .price {
            input {
                height: 30px;
                width: 50px;
                padding: 10px;
            }
        }
    }

    .btns {

        width: 770px;
        margin: 0 auto;

        button {
            width: 85px;
            height: 45px;






        }
    }
}