
.gig-preview{
    .vueperslides__parallax-wrapper {
            position: relative;
            overflow: hidden;
            padding-bottom: 66.66666% !important;
        }
    background-color:$CLR0;
    border:1px solid #e4e5e7;
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 0.9rem;
    }
    a{
        text-decoration: none;
        color: $clr4;
    }
    &:hover{
     a {
        color: $clr1;
     }
    }

    .preview-title{
        max-height: 43px;
        padding: 0 12px 0 12px;
        // white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: ellipsis " [..]";
        //TODO FIX HERE
    }
    .seller-info-preview{
        display: flex;
        align-items: center;
        height: 54px;
    }
    .gig-img{
        width:100%;
        height: 165px;
    
    }
    .seller-img>*{
        max-height: 24px;
        max-width: 24px;
        border-radius: 50%;
        margin: 16px 8px 10px 11px;
    }

    .content-info{
        display: flex;
        align-items: center;
        height: 40px;
        padding:10px 12px 10px 12px;
        .rate-preview{
            color:$clr10;
            padding-inline-end: 5px;
        }
        .preview-rate-icon{
            fill:$clr10;
            padding-inline-end: 5px;
        }
        .preview-reviews{
            color:$clr2
        }
    }
    .preview-footer{
        p{
            color: $clr5;
        }
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 45px;
        padding:10px 12px;
        border-top:1px solid #e4e5e7;
        .preview-heart{
        fill: $clr2;
        //  background-color:  rgb(108, 108, 205);
        }
        .preview-price-container{
            align-items: center;
            .preview-price {
                    margin-inline-start: 5px;
                }
        }
        
    }
    
        .vueperslides__inner {
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            // @include aspect-ratio(16, 9)
                    
        }

        ///HERE WE CAN CONTROLL THE SIZE OF THE SLIDE
        /// 
        .vueperslides__parallax-wrapper {
            position: relative;
            overflow: hidden;
            // min-height: 150px;
            // max-height: 320px;
            
        }
                                

    /////VUPER SLIDES BULLETS
        .vueperslides__bullet {
            margin: .6em 0.2em;
            padding: 0;
            border: none;
            background: none;
        }
        .vueperslides__bullet .default {
            width: 8px;
            height: 8px;
            border-radius: 8px;
            border: 1px solid currentColor;
            background-color:$CLR01;
            box-shadow: 0 0 1px #00000080, 0 0 3px #0000004d;
            transition: .4s ease-in-out;
            box-sizing: border-box;
        }
        .vueperslides__bullet--active .default {
            width: 12px;
            height: 12px;
            border-radius: 12px;
        }
}