.app-explore-list{
    // background-color: blue;
    margin-top:$layoutPadding;
}
.list-container{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: $layoutPadding;
    // @media screen and (min-width: $mobile-breakpoint) {
    //     grid-template-columns: repeat(2, 1fr)
    // }
    @media screen and (min-width: $narrow-breakpoint) {
        grid-template-columns: repeat(2, 1fr)
    }
    @media screen and (min-width: $normal-breakpoint) {
        grid-template-columns: repeat(3, 1fr)
    }
    @media screen and (min-width: 1160px) {
        grid-template-columns: repeat(4, 1fr)
    }


}
