.gig-edit {
    background-color: $CLR05;


    form {
        @include card(772px, fit-content);



        background: white;
        padding: 30px;
        margin: 30px auto;


        input,
        textarea {

            &:focus {
                border: none;
                outline: 0.2px solid grey;
            }
        }



        input {
            height: 64px;
            padding: 10px;
            width: 100%;
            font-size: 1.12em;
        }

        textarea {
            width: 100%;
            height: 217px;
            padding: 10px;
            font-family: Macan-Regular;
            line-height: 21px;
            font-size: 1rem;
        }

        label {

            margin-bottom: 40px;
        }

        span {
            width: 200px;
            flex-shrink: 0;
            font-weight: 600;
            padding: 10px;

            p {
                margin-top: 10px;
                font-size: 0.8rem;
                color: #828385;
                font-family: Macan-Regular;
                font-weight: 400;
                line-height: 21px;

            }

        }

        select {
            border: 1px solid rgba(0, 0, 0, 0.274);
        }

        .top-form {
            margin-bottom: 50px;

            input,
            textarea {
                border: 1px solid rgba(0, 0, 0, 0.274);
            }

            label {
                display: flex;
            }
        }


        .title-prefix {
            position: relative;
        }





        .bottom-form {

            label {
                display: flex;
            }

            span {
                height: 100px;
            }

            select,
            input {
                height: 30px;
                border: 1px solid rgba(0, 0, 0, 0.274);


            }

            select {

                &:focus {
                    border: none;
                    outline: 0.2px solid grey;
                }

            }


        }

    }




    .btns {

        width: 770px;
        margin: 0 auto;

        button {
            width: 85px;
            height: 45px;

        }
    }


}