.details-container {
  margin-block-start: 32px;
}

// .gig-details {
//   background-color: lightsalmon;
// }

.details-nav {
  border-bottom: 1px solid var(--yro5245);
  position: sticky;
  width: 100%;
  background-color: #fff;
}

.details-nav-list li {
  margin: 0 em(12px, 14px);

  &:first-of-type {
    margin-inline-start: 0;
  }

  &.selected {
    box-shadow: 0px -4px 0px 0px $clr1 inset;
  }

  &.selected a {
    color: $clr4;
  }

  a {
    font-size: rem(14px);
    color: var(--yro5248);
    cursor: pointer;
    font-weight: 600;
    line-height: em(53px, 14px);
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: var(--yro5249);
    }

    // &.router-link-exact-active {
    // }
  }
}

.main {
  margin-inline-end: 5.5%;
  width: 59.5%;

  h2 {
    font-size: rem(20px);
    line-height: em(28px, 20px);
    font-weight: 700;
    color: var(--yro524);
  }

  .title {
    font-size: rem(28px);
    padding-block-end: em(16px, 28px);
    overflow-wrap: break-word;
    color: var(--yro524);
    font-weight: 700;
    line-height: 130%;
  }
}

.bread-crumbs {
  color: var(--yro52j);
  font-size: rem(14px);
  cursor: pointer;
  margin-block-end: em(10px, 14px);

  span {
    width: rem(12px);
    height: rem(12px);

    svg {
      width: rem(12px);
      height: rem(12px);
      margin: 0 em(8px, 14px);
    }
  }
}

.gig-gallery {
  margin-block-end: 64px;
}

.slideshow {
  .vueperslides__parallax-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 66.66666% !important;
  }

  // .vueperslides--fixed-height {
  //   height: 375px;
  //   width: 640px;
  // }
}

.gallery-thumbnails {
  height: 60px;
  border: 1px solid $clr2;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $clr2;
  }
}

.gig-reviews-snippet {
  margin-block-end: 64px;

  .header {
    margin-block-end: 25px;

    p {
      font-size: rem(14px);
      color: $clr1;
      cursor: pointer;
      font-weight: 400;
    }
  }
}

.review-list-container {
  border: 1px solid var(--yro5244);
  border-radius: em(4px, 16px);
  padding: em(16px, 16px) em(24px, 16px);
  height: 130px;
}

.gig-desc {
  margin-block-end: 64px;

  h2 {
    padding-block-end: 25px;
  }

  p {
    color: $clr3;
    word-break: break-word;
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
  }
}

.seller-profile {
  h2 {
    padding-block-end: 25px;
  }
}

.seller-details-container {
  border: 1px solid $clr9;
  border-radius: em(3px, 16px);
  padding: em(24px, 16px);
  margin-block-end: 64px;
  color: $clr5;

  .seller-stat ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    > li {
      padding-block-end: em(16px, 16px);
    }

    .key {
      padding-block-end: em(4px, 16px);
    }

    .value {
      font-weight: 700;
    }
  }

  .seller-desc {
    border-top: 1px solid $clr9;
    line-height: 150%;
    padding-block-start: em(15px, 16px);
  }
}
