.header-search {
  height: 42px;
  
  .el-button {
    background-color: #222325;
    border: 1px solid black;
    border-radius: 0px;
    border-end-end-radius: 4px;
    border-start-end-radius: 4px;

    &:hover {
      background-color: rgb(63, 63, 63);
    }
  }
  > * {
    display: inline;

    .el-icon {
      fill: #ffff;
      color: #ffff;
    }
  }
  .input-with-select .el-input-group__prepend {
    background-color: var(--el-fill-color-blank);
  }

  .el-input__wrapper {
    // box-shadow: 0 0 0 1px grey inset;
    border-color: #c5c6c9;
    border-end-end-radius: 0px;
    border-start-end-radius: 0px;
    min-width: 100%;

    &.is-focus {
      box-shadow: 0 0 0 1px black inset;
    }
  }
}
