.login-signup{


  .el-button.is-text {
    margin-right: 15px;
    color: black;
    margin: 0px;
    font-size: 1rem;
  
    transition: 0.3s;
    
    &.join-btn{
      padding: 0px 20px;
      &:hover{
        background:$clr1;
        
      }
    }
    &.signin-btn{
      margin: 0px 10px;
      &:hover{
        background:none;
        color: $clr1;
      }
    }

  }

 .join-btn{
  border: 1px solid $clr1;
  &:hover{
    background: $CLR03;
    color: white;

  
  }
}


  .el-select {
    width: 300px;
  }
  .el-input {
    width: 300px;
  }
  .dialog-footer button:first-child {
    margin-right: 10px;
  }


}
  

  