.login-signup {
  .el-button {
    padding: 0 10px;
  }

  .el-button.is-text {
    margin-right: 15px;
    color: #fff;
    margin: 0px;
    font-size: 1rem;
    font-weight: 700;

    transition: 0.3s;

    &.join-btn {
      padding: 7px 20px;
      font-weight: 700;
      font-size: rem(14px);

      &:hover {
        background: $clr1;
      }
    }

    &.signin-btn {
      margin-inline-end: 10px;
      &:hover {
        background: none;
        color: $clr1;
      }
    }
  }

  .join-btn {
    border: 1px solid white;
    &:hover {
      background: $CLR03;
      color: white;
      border: 1px solid $clr1;

    }
  }

  .el-select {
    width: 300px;
  }
  .el-input {
    width: 300px;
  }
  .dialog-footer button:first-child {
    margin-right: 10px;
  }
}
