.seller-profile {
    padding: 40px 80px;
    background-color: $CLR05;
    color: $clr11;

    ul {
        list-style: none;
    }


    .profile-container {
        min-width: 398px;
        max-width: 398px;

        .user-info {
            @include card(100%, 363px);
            padding: 30px;
            margin-bottom: 20px;


            h2 {
                text-align: center;
            }

            .img-container {
                width: 150px;
                height: 150px;
                border-radius: em(167px);
                overflow: hidden;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto
            }


            .user-stats {
                border-top: 1px solid var(--yro5245);
                margin-top: 24px;




                li {
                    padding-top: 20px;

                    div {
                        font-family: Macan-Regular;
                        color: $clr5;
                    }

                    span {
                        font-family: Macan;
                        color: $clr3;
                    }
                }
            }


            span {
                margin-inline-end: 10px;
            }
        }
    }

    .description-container {
        @include card(100%, 450px);
        height: fit-content;
        padding: 30px 30px 30px 30px;

        li:not(:last-child) {
            border-bottom: 1px solid var(--yro5245);
            padding-bottom: 25px;
        }

        h3 {
            margin-bottom: 20px;
        }

        p {
            line-height: 24px;
        }


    }

    .chat-seller-btn {
        border: 1px solid transparent;
        border-radius: em(4px, 16px);
        font-size: 1rem;
        font-weight: 600;
        font-family: inherit;
        line-height: 100%;
        padding: em(12px, 16px) em(24px, 16px);
        position: relative;
        text-align: center;
        margin-block-start: 20px;
        width: 100%;
        transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
        cursor: pointer;
        background-color: $clr7;
        color: #fff;

        &:hover {
            background-color: var(--yro5218);
        }

        &>span {
            width: 16px;
            height: 16px;
            float: right;
        }
    }
}


.gigs-status {
    padding-inline-start: 20px;
    width: 60%;

    .status-filter-bar {
        @include card(100%, 60px);
        margin-bottom: 40px;
        padding: 23px 25px;
    }

    .gigs-list {
        gap: 20px;
        flex-wrap: wrap;

        .add-gig {
            @include card(230px, 262px);

            &:hover {
                cursor: pointer;
            }


            .add-gig-btn {
                color: white;
                width: 65px;
                height: 65px;
                background-color: rgb(120, 205, 210);
                font-size: 3rem;
                border-radius: em(167px);
                line-height: 70px;
                text-align: center;
                margin-bottom: 20px;


            }
        }
    }


}