

.seller-orders{
  
  .headline{
    align-self: flex-start;
  }
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  >*:not(h1,h2){
    border-radius: 5px;
    background-color: $CLR0;
    box-shadow: 0 0 2px 0;
  }
  .income-order-dashboard{
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width:90%;
    margin: 40px 0;

    // background-color: aquamarine;
    .dashboard-item{
      // background-color: aquamarine;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items:center;
      width:15%;
      justify-content: space-between;
      padding: 20px;
      span{
        text-align: center;
        font-weight: 700;
        font-size: rem(18px);
        color:$clr1;
      }
      h3{
        font-size: 28px;
        font-weight: 500;
      }
    }
  }
    .order-table{
      // background-color: brown;
      width:100%;
      margin-top: 40px;
      .table-head,
      .table-entity{
        span {
            font-weight: 700;
          }
          p{
            font-weight: 900;
          }
        height: 80px;
        border-bottom: 1px solid $CLR00;
        align-items: center;
        
        &>*{
              -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-inline-start: 10px;
              }
          .user-img {
            width: 40px;
            height: 40px;
            >* {
            border-radius: 50%;
            }
          }
      .buyer-col{
        flex-direction: row;
        width:15%
          }
        }
        
      }
      .gig-col{
        width: 40%;
      }
      .due-on-col{
        width:15%;
      }
      .total-col{
        width:15%;
      }
      .status-col{
        width:15%;
          button {
              border: 0;
              background-color: transparent;
            }
      }
      .user-col{
        flex-direction: column;
        >*{
          max-width: 40%;
          margin: 0;
        }
      }
      .status{
        background-color: rgb(33, 59, 7);
        justify-content: center;
        color: $CLR0;
        font-weight: 700;
        align-items: center;
        border-radius: 3px;
        width:70%;
        padding:10px;
        cursor: pointer;
      }
      .set-status{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $CLR0;
        opacity: 0.9;
        box-shadow: 0 0 8px 0;
        border-radius:10px 0 10px 10px ;
        width: 250px;
        height: 300px;
        position: absolute;
        // position: fixed;
        top: 700px;
        right: 20%;
        transform: translate(50%, -50%);
        &>*{
          padding-bottom: 10px;
          border-bottom: 2px solid transparent;
        &:hover{
          
          border-bottom: 2px solid $clr1;
        }
        }
        button{
          font-size: rem(20px);
          font-weight: 700;
          &:hover{
            color:$clr1;
          }
        }
        
      }
    }




  
  