.alert {
  background-color: #fff;
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: em(4px, 14px);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  z-index: 9999;
  color: $CLR00;

  .color-left {
    width: 6px;
    border-radius: em(4px, 14px) 0 0 em(4px, 14px);
  }

  span {
    width: 42px;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $clr1;
    }
  }

  p {
    padding: 1em 2em 1em 0;
    font-size: rem(14px);
  }

  button {
    border: none;
    background-color: inherit;
    margin-inline-end: 1.5em;
    font-size: 12px;
    color: $CLR00;
  }

  &.alert-success {
    .color-left {
      background-color: $clr1;
      width: 6px;
    }
  }
  &.alert-error {
    background-color: lightcoral;
  }
}
