

.alert {
    background-color: lightgray;
    position: absolute;
    top: 100px;
    left: 0.5em;
    padding: 1em;
    z-index: 9999;
    &.alert-success {
        background-color: lightgreen;
        z-index: 9999;
    }
    &.alert-error {
        background-color: lightcoral;
        z-index: 9999;
    }
}

