

.alert {
    background-color: lightgray;
    position: absolute;
    top: 0;
    right: 0.5em;
    padding: 1em;
    z-index: 10;
    &.alert-success {
        background-color: lightgreen;
        z-index: 10;
    }
    &.alert-error {
        background-color: lightcoral;
        z-index: 10;
    }
}

