.app-explore-list {
    // background-color: blue;
    margin-top: $layoutPadding;
    margin-bottom: $layoutPadding;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: $layoutPadding;

    // @media screen and (min-width: $mobile-breakpoint) {
    //     grid-template-columns: repeat(2, 1fr)
    // }
    @media screen and (min-width: $narrow-breakpoint) {
        grid-template-columns: repeat(2, 1fr);
        
    }

    @media screen and (min-width: $normal-breakpoint) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $layoutPaddingWide;
    }

    @media screen and (min-width: 1160px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.advanced-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding-block-end: 16px;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: all .3s ease;
    // box-shadow: 0 .266px 1.13052px rgba(0,0,0,.069),0 .89345px 3.79717px rgba(0,0,0,.101),0 5px 17px rgba(0,0,0,.17);

    .advanced-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .preview-budget-container{
            flex-direction: column;
        .preview-budget {
            .el-input {
                min-width: none;
                max-width: em(100px);
            }
        }
        
        }
        .clear-filter-btn {
            width: 104px;
            height: 40px;
            border: 1px solid $clr2;
            background-color:$CLR0 ;
            margin-top: em(19px);
            margin-inline-end: em(10px);
        }
        .budget-input,
        .category-input,
        .delivery-input {
            margin-inline-end: em(10px);
            width: em(105px);
            margin-top: em(16px);
        
            .el-input__wrapper {
                width: em(120px)
            }
        }
        /////////
        .budget-input-1{
            justify-content: center;
            align-items: center;
            color: $CLR00;
            margin-inline-end: em(10px);
            width: em(105px);
            margin-top: em(16px);
            box-shadow: 0 0 1px 0;
        }

    }

    .advanced-switches {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: em(316px);


        .pro-switch {
            justify-content: end;
            margin-inline-end: em(40px);

        }

        .online-switch,
        .pro-switch {
            // font-weight: 600;
            display: flex;
            align-items: center;
            margin-top: em(16px);
            color: $CLR00;

            .ml-2 {
                margin-inline-end: em(5px);
            }

            .el-switch__core {
                height: em(18px);
                min-width: em(31px);
            }

            .el-switch__action {
                height: em(14px);
                width: em(14px);
            }
        }
    }
}

.el-input__inner {
    color: black
}

.sorting-click {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: em(15px) 0;
    color: $CLR00;
    .available-services{
        font-size: rem(14px);
        line-height: rem(22px);
        font-weight: 600;
    }
    h4{
    font-size: 16px;
    line-height: 120%;
    font-weight: 600;
    }
    .sort-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: em(40px);
        .el-select .el-input.is-focus .el-input__wrapper,
        .el-select .el-input__wrapper.is-focus {
                box-shadow: 0 0 0 0 transparent !important;
        }
        .sortby-select {
            width: em(130px);

            

            .el-input__wrapper {
                box-shadow: 0 0 0 0;
                color: black
            }

            .el-input__wrapper:focus {
                box-shadow: 0 0 0 0;
            }


        }
    }
}
.pagination{
    display: flex;
    justify-content: center;
    margin: em(45px) em(30px);
    .el-pagination.is-background .btn-next,
    .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .el-pager li {
        margin: 0 em(4px);
        background-color: transparent;
        border: 1px $clr2 solid;
        font-size: 1rem;
    }
    .el-pagination.is-background .el-pager li.is-active {
            background-color: transparent;
            color: $clr4;
    }

        
}


// TODO: export to reset
// .el-select .el-input.is-focus .el-input__wrapper,
// .el-select .el-input__wrapper.is-focus {
//     box-shadow: 0 0 0 0 transparent !important;
// }