.main-header {
  width: 100%;

  &.sticky {
    position: fixed;
    z-index: 200;
  }
    @media screen and (max-width: 600px) {
      background-color: #fff;
      padding-bottom: 10px;
        border-bottom: 1px solid $clr9;
      .logo{
        color: $clr3;
      }
    }
   
}
