


.main-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;
    
    > * {
        grid-column: 2;
    }

    > *.full {
        grid-column: 1 / -1;
    }

    @media screen and (min-width: $padded-break-normal) {
        grid-template-columns: $layoutPaddingWide 1fr $layoutPaddingWide;
     }
    @media screen and (min-width: calc($padded-break-wide + $layoutPaddingWide)) {
        grid-template-columns: 1fr $wide-breakpoint 1fr;

     }


}


.app-container{
    min-height: 100vh;
   
}


.main-text {
    margin-bottom: rem(90px);
}
