// @font-face {
//     font-family: macanBold;
//     src: url(./src/assets/styles/fonts/macan/macan-bold.ttf)
// }

// @font-face {
//     font-family: macanLight;
//     src: url('src/assets/styles/fonts/macan/macan-light.ttf')
// }

// @font-face {
//     font-family: macanRegular;
//     src: url('src/assets/styles/fonts/macan/macan-regular.woff2')
// }

// @font-face {
//     font-family: macanSemiBold;
//     src: url('src/assets/styles/fonts/macan/macan-semibold.woff2')
// }

// @font-face {
//     font-family: Anton;
//     src: url('/src/assets/styles/fonts/Anton/Anton-Regular.ttf')
// }

// @font-face {
//     font-family: domainDisplay;
//     src: url('/src/assets/styles/fonts/domainDisplay/domain-display.ttf')
// }

@font-face {
    font-family: Macan;
    src: url('src/assets/fonts/macan/macan-bold.ttf');
}

@font-face {
    font-family: Macan-Light;
    src: url('src/assets/fonts/macan/macan-light.ttf');
}

:fonts {
    --yro524d: "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --yro524e: "domainDisplay", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --yro524g: Georgia, "Times New Roman", serif;
}

.FONTS-ARANGMENT {
    font-family: anton, Arial, Helvetica, sans-serif;
}