// Breakpoints
$mobile-breakpoint: 400px;
$narrow-breakpoint: 600px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1400px;

// LAYOUT
$layoutPadding: 24px;

$layoutPaddingWide: 32px;

$headingHeight: 80px;

$heroHeight: 680px;



$padded-break-mobile: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-narrow: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-normal: $normal-breakpoint + $layoutPadding * 2;
$padded-break-wide: $wide-breakpoint + $layoutPadding * 2;


// // LAYOUT BREAKPOINTS - wide screens
// $break-narrow: 1200px;
// $break-normal: 1360px;
// $break-wide: 1920px;

// COLOR PALETTE

// BACKGROUND COLORS
$CLR0: #ffffff; //menu open bgc
$CLR00: #62646a;


$CLR05: rgb(247, 247, 247) ;

$CLR01:  #f3fdf9; //SECOND LEVEL BGC
$CLR02:  #0d084d; // FIVER BUISNESS BGC
$CLR03:  #023a15; // FIVER HERO BGC
//HEROS BGC
$CLR04:  #0c3b24; // GRAFIC DESIGN BGC
$CLR04:  #bd5272; // DIGITAL MARKETING BGC
$CLR04:  #254200; // Writing & Translation BGC
$CLR04:  #4d1627; // Video & Animation // trending BGC
$CLR04:  #2f0d05; // Programming & Tech BGC
$CLR04:  #687200; // Business BGC
$CLR04:  #8f2800; // Lifstyle BGC



// LINKS CLICKED COLOR-ACTIVE /SEARCH BUTTOM COLOR OF THE HERO
$clr1: #1dbf73;
// BORDER INPUT WHEN NOT ACTIVE 
$clr2: #c5c6c9;
// FONT COLOR INSIDE AN INPUT 
$clr3: #62646a;
// INPUT SEARCH BUTTOM BACKGRAOUND / HEADLINE COLOR OF THE HOE PAGE PREVIEW
$clr4: #222325;
// LINK COLOR NOT ACTIVE BELLOW THE MAIN HEADER 
$clr5: #74767e;
// FONT COLOR IN PREVIEW CARD ON THE MAIN PAGE 
$clr6: rgb(255, 255, 255);

$clr7: #1dbf73;

$clr8: #02c2a9; // FIVVER PRO LINK


$clr9: #dadbdd;; // SWITCH OFF 
$clr10: #ffbe5b; // STAR RATE COLOR


//FONT COLOR
$clr11: #404145;


:root {
    --yro520: #fff;
    --yro521: #000;
    --yro522: #62646a;
    --yro523: #efeff0;
    --yro524: #404145;
    --yro525: #1dbf73;
    --yro526: #1dbf73;
    --yro527: #c43333;
    --yro528: #3453a8;
    --yro529: #188652;
    --yro52a: #ca6923;
    --yro52b: #fff;
    --yro52c: transparent;
    --yro52d: #f0f4ff;
    --yro52e: #d4defb;
    --yro52f: #b9c9f7;
    --yro52g: #9db4f3;
    --yro52h: #819ef0;
    --yro52i: #6689ec;
    --yro52j: #446ee7;
    --yro52k: #3f63c8;
    --yro52l: #3453a8;
    --yro52m: #284389;
    --yro52n: #1d3369;
    --yro52o: #122349;
    --yro52p: #f6f6ff;
    --yro52q: #e4e3ff;
    --yro52r: #b1abff;
    --yro52s: #b1abff;
    --yro52t: #b1abff;
    --yro52u: #584aff;
    --yro52v: #584aff;
    --yro52w: #2e25ad;
    --yro52x: #2e25ad;
    --yro52y: #2e25ad;
    --yro52z: #1e1692;
    --yro5210: #0d084d;
    --yro5211: #e8faf4;
    --yro5212: #c9f4e0;
    --yro5213: #a6eaca;
    --yro5214: #84dfb5;
    --yro5215: #62d49f;
    --yro5216: #3fca89;
    --yro5217: #1dbf73;
    --yro5218: #19a463;
    --yro5219: #188652;
    --yro521a: #126f43;
    --yro521b: #0f5533;
    --yro521c: #0b3a23;
    --yro521d: #f8f9e5;
    --yro521e: #f1f4cb;
    --yro521f: #edf2b3;
    --yro521g: #e8f094;
    --yro521h: #e3ee74;
    --yro521i: #daea3d;
    --yro521j: #d0e500;
    --yro521k: #bbce00;
    --yro521l: #7d8900;
    --yro521m: #687200;
    --yro521n: #465a00;
    --yro521o: #254200;
    --yro521p: #fff2e9;
    --yro521q: #fedfc9;
    --yro521r: #fecdaa;
    --yro521s: #febb8a;
    --yro521t: #fda86a;
    --yro521u: #fd964b;
    --yro521v: #fc832b;
    --yro521w: #e37627;
    --yro521x: #ca6923;
    --yro521y: #b25d1f;
    --yro521z: #99501b;
    --yro5220: #804317;
    --yro5221: #ffeff7;
    --yro5222: #ffd7eb;
    --yro5223: #ffc0de;
    --yro5224: #ffa9d2;
    --yro5225: #ff91c6;
    --yro5226: #ff7ab9;
    --yro5227: #ff62ad;
    --yro5228: #e05698;
    --yro5229: #c14a83;
    --yro522a: #a23f6e;
    --yro522b: #833359;
    --yro522c: #642744;
    --yro522d: #e8fffc;
    --yro522e: #bef5ee;
    --yro522f: #99ebe0;
    --yro522g: #73e1d3;
    --yro522h: #4dd6c5;
    --yro522i: #28ccb7;
    --yro522j: #02c2a9;
    --yro522k: #02b09a;
    --yro522l: #029f8b;
    --yro522m: #028d7b;
    --yro522n: #027c6c;
    --yro522o: #026a5d;
    --yro522p: #f8f0ff;
    --yro522q: #e8d4fb;
    --yro522r: #d8b9f7;
    --yro522s: #c89df3;
    --yro522t: #b881f0;
    --yro522u: #a866ec;
    --yro522v: #984ae8;
    --yro522w: #8842d0;
    --yro522x: #7739b9;
    --yro522y: #6731a1;
    --yro522z: #56288a;
    --yro5230: #462072;
    --yro5231: #ffeded;
    --yro5232: #fed0d0;
    --yro5233: #fcb3b3;
    --yro5234: #fb9797;
    --yro5235: #fa7a7a;
    --yro5236: #f85d5d;
    --yro5237: #f74040;
    --yro5238: #d93c3c;
    --yro5239: #c43333;
    --yro523a: #ab2d2d;
    --yro523b: #912626;
    --yro523c: #782020;
    --yro523d: #ecfcff;
    --yro523e: #cdf5fb;
    --yro523f: #afedf7;
    --yro523g: #92e6f3;
    --yro523h: #75dfee;
    --yro523i: #57d7ea;
    --yro523j: #3ad0e6;
    --yro523k: #30b8cb;
    --yro523l: #25a1b0;
    --yro523m: #1b8996;
    --yro523n: #10727b;
    --yro523o: #065a60;
    --yro523p: #fff7ee;
    --yro523q: #ffecd1;
    --yro523r: #ffe0b3;
    --yro523s: #ffd596;
    --yro523t: #ffca79;
    --yro523u: #ffbe5b;
    --yro523v: #ffb33e;
    --yro523w: #e6a139;
    --yro523x: #cd8e33;
    --yro523y: #b47c2e;
    --yro523z: #9b6928;
    --yro5240: #825723;
    --yro5241: #fafafa;
    --yro5242: #f5f5f5;
    --yro5243: #efeff0;
    --yro5244: #e4e5e7;
    --yro5245: #dadbdd;
    --yro5246: #c5c6c9;
    --yro5247: #b5b6ba;
    --yro5248: #95979d;
    --yro5249: #74767e;
    --yro524a: #62646a;
    --yro524b: #404145;
    --yro524c: #222325;
}
:fonts {
--yro524d: "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
--yro524e: "DomaineDisplay", "Helvetica Neue", Helvetica, Arial, sans-serif;
--yro524g: Georgia,"Times New Roman",serif;}
.lala{
    font-family:anton, Arial, Helvetica, sans-serif ;
}