// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/typography';

// Basics
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/base';
@import 'basics/links';
@import 'basics/forms';
@import 'basics/card';


// Components

// home-page
@import 'cmps/app-home';
@import 'cmps/categories-list';
@import 'cmps/app-hero';
@import 'cmps/hero-search';

// explore
@import 'cmps/gig-preview-explore';
@import "cmps/app-explore-list";

// gig-details
@import 'cmps/gig-details';
@import 'cmps/gig-preview-seller';
@import 'cmps/gig-package';
@import 'cmps/user-preview';
@import "cmps/review-preview";
@import "cmps/reviews-stat";
@import "cmps/chat-seller";

// gig-payment
@import "cmps/gig-payment";
@import "cmps/gig-package-payment";

// header
@import 'cmps/app-header';
@import "cmps/main-header";
@import 'cmps/header-search';

// seller-profile
@import "cmps/seller-profile";

// seller-orders
@import "cmps/seller-orders";

// gig-edit
@import "cmps/gig-edit";
@import "cmps/img-uploader";

// seller-register
@import "cmps/seller-register";
@import "cmps/img-profile-uploader";

// general
@import 'cmps/user-msg';
@import 'cmps/app-footer';
@import 'cmps/login-signup';
@import "cmps/popup-content";
@import "cmps/skeleton";


.el-select-dropdown__item.selected {
    color: #1dbf73 !important;
    font-weight: 700;
}

#delivery {
    &.el-input__wrapper{
        width: 150px;
    }
}

.delivery-input{
    width:150px !important;

    .el-input__inner {
        color: $clr4 !important;
    }
  }

  .advanced-filter .advanced-input .el-input__inner{
    color:$clr4 !important;
    font-family: Macan;
    
  }
  